config DRM_TEGRA_CAMERA_IMX219
        tristate "IMX219 camera sensor support"
        depends on I2C && ARCH_TEGRA
        ---help---
         This is a driver for the IMX219
         camera sensor for use with the tegra isp.
         The sensor has a maximum of 8MP
         resolution.

config DRM_TEGRA_CAMERA_IMX208
        tristate "IMX208 camera sensor support"
        depends on I2C && ARCH_TEGRA
        ---help---
         This is a driver for the IMX208
         camera sensor for use with the tegra isp.
         The sensor has a maximum of 2MP
         resolution.

config DRM_TEGRA_CAMERA_AD5823
        tristate "AD5823 focuser support"
        depends on I2C && ARCH_TEGRA
        ---help---
          This is a driver for the AD5823 focuser
          for use with the tegra isp.

