#define CAM_I2C_BUS	7

/* camera control gpio definitions */
#define RCAM_RSTN	TEGRA_GPIO(T, 0)
#define FCAM_RSTN	TEGRA_GPIO(S, 7)
#define CAM_AF_PWDN	TEGRA_GPIO(S, 5)

&vii2c {
	imx219: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		vana-supply = <&pp2800l_rcam>;
		vdig-supply = <&pp1200_rcam>;
		dovdd-supply = <&pp1800_cam>;
		clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
		clock-names = "clk_out_3";
		reset-gpios = <&gpio RCAM_RSTN GPIO_ACTIVE_HIGH>;
	};

	imx208: imx208@37 {
		compatible = "sony,imx208";
		reg = <0x37>;
		vana-supply = <&pp2800l_rcam>;
		vdig-supply = <&pp1200_rcam>;
		vif-supply = <&pp1800_cam>;
		clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
		clock-names = "clk_out_3";
		cam2-gpios = <&gpio FCAM_RSTN GPIO_ACTIVE_HIGH>;
	};

	ad5823@c {
		compatible = "adi,ad5823";
		reg = <0xc>;
		vdd-supply = <&pp2800l_fcam>;
		shutdown-gpio = <&gpio CAM_AF_PWDN GPIO_ACTIVE_HIGH>;
	};
};

/ {
	tegra-camera-platform {
		modules {
			module0 {
				badge = "A44_rear_4BA808P1";
				position = "rear";
				orientation = "0";
				drivernode0 {
					pcl_id = "s_IMX219";
				};
				drivernode1 {
					pcl_id = "f_AD5823";
				};
			};

			module1{
				badge = "A44_front_4BF215T1";
				position = "front";
				orientation = "0";
				drivernode0 {
					pcl_id = "s_IMX208";
				};
			};
		};
	};
};
