ARCH=arm64
BRANCH=android-chromeos-dragon-3.18
CROSS_COMPILE=aarch64-linux-android-
DEFCONFIG=dragon_defconfig
EXTRA_CMDS=''
KERNEL_DIR=private/dragon
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/bin
FILES="
arch/arm64/boot/Image
arch/arm64/boot/Image.fit
vmlinux
System.map
"
