menu "Chromeos Supplied Third-Party Device Drivers"

source "chromeos/drivers/rtl8103/Kconfig"
source "chromeos/drivers/ath6kl/Kconfig"
source "chromeos/drivers/mwifiex/Kconfig"
source "chromeos/drivers/gobi/Kconfig"

endmenu
