config TEGRA_SOCTHERM
	bool

config TEGRA124_SOCTHERM
	bool "Tegra124 SOCTHERM thermal management"
	depends on ARCH_TEGRA_124_SOC
	select TEGRA_SOCTHERM
	help
	  Enable this option for integrated thermal management support on NVIDIA
	  Tegra124 systems-on-chip. The driver supports four thermal zones
	  (CPU, GPU, MEM, PLLX). Cooling devices can be bound to the thermal
	  zones to manage temperatures. This option is also required for the
	  emergency thermal reset (thermtrip) feature to function.

config TEGRA132_SOCTHERM
	bool "Tegra132 SOCTHERM thermal management"
	depends on ARCH_TEGRA_132_SOC
	select TEGRA_SOCTHERM
	help
	  Enable this option for integrated thermal management support on NVIDIA
	  Tegra132 systems-on-chip. The driver supports four thermal zones
	  (CPU, GPU, MEM, PLLX). Cooling devices can be bound to the thermal
	  zones to manage temperatures. This option is also required for the
	  emergency thermal reset (thermtrip) feature to function.

config TEGRA210_SOCTHERM
	bool "Tegra210 SOCTHERM thermal management"
	depends on ARCH_TEGRA_210_SOC
	select TEGRA_SOCTHERM
	help
	  Enable this option for integrated thermal management support on NVIDIA
	  Tegra210 systems-on-chip. The driver supports four thermal zones
	  (CPU, GPU, MEM, PLLX). Cooling devices can be bound to the thermal
	  zones to manage temperatures. This option is also required for the
	  emergency thermal reset (thermtrip) feature to function.
