config USB_APPLEIR
	tristate "Apple USB Infrared Receiver"
	default m
	depends on USB

config FSAM7400
	tristate "SW RF kill switch for Fujitsu Siemens Amilo M 7400"
	default m
	select CHECK_SIGNATURE

config LMPCM_USB
	tristate "USB Logitech MediaPlay Cordless Mouse driver"
	default m
	depends on USB

source "ubuntu/misc/media/Kconfig"
