# Additional kconfig options to be merged by `make kasanconfig`.
# Should mirror the USE flags in
# third_party/chromiumos-overlay/eclass/cros-kernel2.eclass.

# USE=kasan: Enable KASAN
CONFIG_KASAN=y
CONFIG_KASAN_INLINE=y
CONFIG_TEST_KASAN=m
CONFIG_SLUB_DEBUG=y
CONFIG_SLUB_DEBUG_ON=y

# USE=allocator_slab: Turn on SLAB allocator
CONFIG_SLAB=y
CONFIG_SLUB=n
