# Additional kconfig options to be merged when building for syzkaller with
# debugging enabled.

# Should mirror the USE=lockdebug flags in
# third_party/chromiumos-overlay/eclass/cros-kernel2.eclass.

# USE=lockdebug: Additional debug settings
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_PROVE_RCU=y
CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
