if MACH_TEGRA_GENERIC

choice
	prompt "Select ODM kit target board"

config TEGRA_ODM_HARMONY
	bool "NVIDIA Harmony development system"
	depends on ARCH_TEGRA_2x_SOC

config TEGRA_ODM_WHISTLER
	bool "NVIDIA Whistler development system"
	depends on ARCH_TEGRA_2x_SOC

config TEGRA_ODM_CONCORDE
	bool "NVIDIA Concorde development system"
	depends on ARCH_TEGRA_1x_SOC

endchoice

config TEGRA_PMU_TPS6586X_LD05_VOLTAGE
	int "Voltage for the TPS6586x LD05 power rail"
	depends on TEGRA_ODM_HARMONY
	default "2850"

endif
