/*
 * Device Tree file for Google Cyclone Armada 380 board
 *
 *  Copyright (C) 2015 Marvell
 *
 * Ruilin Hao <rlhao@marvell.com>
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without any
 * warranty of any kind, whether express or implied.
 */

/dts-v1/;
#include "armada-380.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Google Cyclone Armada 380";
	compatible = "google,cyclone-proto1", "marvell,armada380";

	chosen {
		bootargs = "console=ttyS0,115200";
		stdout-path = &uart0;
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x20000000>; /* 512 MB */
	};

	soc {
		ranges = <MBUS_ID(0xf0, 0x01) 0 0xf1000000 0x100000
			  MBUS_ID(0x01, 0x1d) 0 0xfff00000 0x100000>;

		internal-regs {
			pinctrl@18000 {
		                compatible = "marvell,mv88f6810-pinctrl";
			};
			spi@10600 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi0_pins>;
				status = "okay";

				spidev@0 {
					compatible = "spidev";
					reg = <0>;
					spi-max-frequency = <25000000>;
				};
			};

			spi@10680 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi1_pins>;
				status = "okay";

				spidev@0 {
					compatible = "spidev";
					reg = <0>;
					spi-max-frequency = <25000000>;
				};
			};

			i2c@11000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins>;
				status = "okay";
				clock-frequency = <100000>;
				/*
				 * The EEPROM located at adresse 54 is needed
				 * for the boot - DO NOT ERASE IT -
				 */

				expander0: pca9555@20 {
					compatible = "nxp,pca9555";
					pinctrl-names = "default";
					pinctrl-0 = <&pca0_pins>;
					interrupt-parent = <&gpio0>;
					interrupts = <18 IRQ_TYPE_EDGE_FALLING>;
					gpio-controller;
					#gpio-cells = <2>;
					interrupt-controller;
					#interrupt-cells = <2>;
					reg = <0x20>;
				};

				expander1: pca9555@21 {
					compatible = "nxp,pca9555";
					pinctrl-names = "default";
					interrupt-parent = <&gpio0>;
					interrupts = <18 IRQ_TYPE_EDGE_FALLING>;
					gpio-controller;
					#gpio-cells = <2>;
					interrupt-controller;
					#interrupt-cells = <2>;
					reg = <0x21>;
				};
			};

			i2c@11100 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c1_pins>;
				status = "okay";
				clock-frequency = <100000>;

				trusted-platform-module {
					compatible = "infineon,slb9645tt";
					reg = <0x20>;
					powered-while-suspended;
				};
			};


			serial@12000 {
				/*
				 * Exported on the micro USB connector CON16
				 * through an FTDI
				 */
				pinctrl-names = "default";
				pinctrl-0 = <&uart0_pins>;
				status = "okay";
			};

			sdhci@d8000 {
                                pinctrl-names = "default";
				pinctrl-0 = <&sdhci_pins>;
				/*cd-gpios = <&expander0 5 GPIO_ACTIVE_LOW>;*/
				broken-cd;
				no-1-8-v;
				wp-inverted;
				bus-width = <8>;
				status = "okay";
			};

			/* CON4 */
			usb@50000 {
				vcc-supply = <&reg_usb2_0_vbus>;
				status = "okay";
			};

			/* CON5 */
			usb3@f0000 {
				vcc-supply = <&reg_usb2_1_vbus>;
				status = "okay";
			};

			/* CON7 */
			usb3@f8000 {
				vcc-supply = <&reg_usb3_vbus>;
				status = "okay";
			};

			sdhci@d8000 {
				no-1-8-v;
				bus-width = <4>;
				status = "okay";
			};
		};

		pcie-controller {
			status = "okay";
			/*
			 * The two other PCIe units are accessible
			 * through mini PCIe slot on the board.
			 */
			pcie@1,0 {
				/* Port 0, Lane 0 */
				status = "okay";
				mwlwifi {
                                        marvell,2ghz = <0x0>;
                                        marvell,chainmask = <0x2 0x2>;
                                };
			};

			pcie@4,0 {
				/* Port 3, Lane 0 */
				status = "okay";
				mwlwifi {
                                        marvell,5ghz = <0x0>;
                                        marvell,chainmask = <0x2 0x2>;
                                };
			};
		};
	};

	reg_usb3_vbus: usb3-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb3-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&expander1 15 GPIO_ACTIVE_HIGH>;
	};

	reg_usb2_0_vbus: v5-vbus0 {
		compatible = "regulator-fixed";
		regulator-name = "v5.0-vbus0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&expander1 14 GPIO_ACTIVE_HIGH>;
	};

	reg_usb2_1_vbus: v5-vbus1 {
		compatible = "regulator-fixed";
		regulator-name = "v5.0-vbus1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&expander0 4 GPIO_ACTIVE_HIGH>;
	};
};
&pinctrl {
	pca0_pins: pca0_pins {
	        marvell,pins = "mpp18";
	        marvell,function = "gpio";
	};

	sdhci_pins: sdhci-pins {
		marvell,pins = "mpp21", "mpp28","mpp37",
				"mpp38", "mpp39","mpp40";
		marvell,function = "sd0";
	};
};

